<?xml version="1.0" encoding="UTF-8"?>
<root>
	<ClientBaseInfo>
		<item>
			<key>Version</key>
			<des>版本</des>
			<value>1.0</value>
		</item>
		<item>
			<key>Client_Type</key>
			<des>客户端类型</des>
			<value>ipad_smart_market_client</value>
		</item>
		<item>
			<key>Client_Name</key>
			<des>客户端名称</des>
			<value>iPad版智能营销</value>
		</item>
		<item>
			<key>Client_Support_URL</key>
			<des>客户端支持的地址</des>
			<value>http://www.sysweal.com</value>
		</item>
		<item>
			<key>Client_DownLoad_Method</key>
			<des>客户端下载方法</des>
			<value></value>
		</item>
        <item>
			<key>BaiduStat_AppKey</key>
			<des>百度统计的key</des>
			<value></value>
		</item>
        <item>
			<key>Local_Cache_Mode</key>
			<des>本地缓存策略</des>
			<value>0</value>
		</item>
		<item>
			<key>Page_Size</key>
			<des>分页大小</des>
			<value>25</value>
		</item>
        <item>
			<key>DeviceIDKey</key>
			<des>硬件ID的Key</des>
			<value>DEVICEID</value>
		</item>
        <item>
			<key>DeviceIDValue</key>
			<des>分页大小</des>
			<value>00117f1a6694</value>
		</item>
        <item>
			<key>Client_Mac</key>
			<des>自定义的客户端Mac</des>
			<value>00117f1a6694</value>
		</item>
	</ClientBaseInfo>
    <Resources>
        <item>
			<key>TopCtl_BG</key>
			<des>顶部Ctl的BG</des>
			<value>bg_default@2x.png</value>
		</item>
        <item>
			<key>SearchBar_BG</key>
			<des>搜索Bar的BG</des>
			<value>bg_searchbar.png</value>
		</item>
        <item>
			<key>CtlView_BG</key>
			<des>视图默认的BG</des>
			<value>bg_main.jpg</value>
		</item>
        <item>
			<key>CtlView_Nav_BG</key>
			<des>视图导航默认的BG</des>
			<value></value>
		</item>
        <item>
			<key>CtlView_Nav_BackBtn_BG</key>
			<des>导航条上返回按扭</des>
			<value>back_white_new@2x.png</value>
		</item>
        <item>
			<key>CtlView_Nav_LeftBtn_BG</key>
			<des>导航条上左按扭</des>
			<value></value>
		</item>
        <item>
			<key>CtlView_Nav_RightBtn_BG</key>
			<des>导航条上右按扭</des>
			<value></value>
		</item>
        <item>
			<key>ErrorCtl_ImageView_Ico</key>
			<des>默认的加载异常ctl上面的图标</des>
			<value>network_error_image.png</value>
		</item>
        <item>
			<key>NoMoreDataCtl_ImageView_Ico</key>
			<des>默认的没有更多数据ctl上面的图标</des>
			<value></value>
		</item>
        <item>
			<key>NoDataOKCtl_ImageView_Ico</key>
			<des>默认的无数据ctl上面的图标</des>
			<value></value>
		</item>
    </Resources>
    <Time>
        <item>
			<key>RequestTimeOut_Second</key>
			<des>请示超时时间(秒)</des>
			<value>20</value>
		</item>
        <item>
			<key>AlertViewAutoDismiss_Second</key>
			<des>提示框自动消失时间(秒)</des>
			<value>2</value>
		</item>
        <item>
			<key>LocalCache_Validate_Day</key>
			<des>本地缓存的有数期(天)</des>
			<value>-120</value>
		</item>
        <item>
			<key>Tab_Animated_Second</key>
			<des>Tab的动画时间</des>
			<value>0.3</value>
		</item>
        <item>
			<key>Tab_Selected_Animated_Second</key>
			<des>Tab中的按扭选中后的动画时间</des>
			<value>0.3</value>
		</item>
        <item>
			<key>Great_Info_Validate_Second</key>
			<des>精品的有效期(10分钟)</des>
			<value>600</value>
		</item>
        <item>
			<key>HotRank_Validate_Second</key>
			<des>热门排行有效期(10分钟)</des>
			<value>600</value>
		</item>
        <item>
			<key>Finance_Validate_Second</key>
			<des>理财有效期(10分钟)</des>
			<value>600</value>
		</item>
        <item>
			<key>Service_Validate_Second</key>
			<des>服务有效期(10分钟)</des>
			<value>600</value>
		</item>
        <item>
			<key>Appointment_Validate_Second</key>
			<des>活动有效期(10分钟)</des>
			<value>600</value>
		</item>
        <item>
			<key>Charge_Validate_Second</key>
			<des>收费标准有效期(10分钟)</des>
			<value>600</value>
		</item>
        <item>
			<key>StoreAddress_Validate_Second</key>
			<des>网点地址有效期(1个月)</des>
			<value>2592000</value>
		</item>
        <item>
			<key>Information_Validate_Second</key>
			<des>金融资讯有效期(3小时)</des>
			<value>10800</value>
		</item>
        <item>
			<key>FinanceInfo_Validate_Second</key>
			<des>金融行情有效期(1分钟)</des>
			<value>60</value>
		</item>
        <item>
			<key>Notice_Validate_Second</key>
			<des>公告有效期(3分钟)</des>
			<value>180</value>
		</item>
    </Time>
    <Data>
        <item>
			<key>RAM_Max_Cnt</key>
			<des>缓存最大数据个数</des>
			<value>200</value>
		</item>
        <item>
			<key>ReLoad_Text</key>
			<des>正在加载时的提示字符</des>
			<value>正在加载...</value>
		</item>
    </Data>
    <Op>
        <item>
			<key>Base_Client_Cookie</key>
			<des>客户端需要带的Cookie参数</des>
			<value>DEVICEID=00117f1a6694;termUserCode=1</value>
		</item>
        <item>
			<key>Init_Table</key>
			<des>初始化表</des>
			<value>init_log</value>
		</item>
        <item>
			<key>User_Table</key>
			<des>用户表</des>
			<value>person</value>
		</item>
        <item>
			<key>Regest_Table</key>
			<des>注册表</des>
			<value>common_reg_auth</value>
		</item>
        <item>
			<key>Event_Table</key>
			<des>动态表</des>
			<value>moy_class_event</value>
		</item>
        <item>
			<key>Organization_Table</key>
			<des>组织表</des>
			<value>moy_class</value>
		</item>
        <item>
			<key>Notice_Table</key>
			<des>通告表</des>
			<value>moy_notice_receive</value>
		</item>
        <item>
			<key>NoticeContent_Table</key>
			<des>通告详情表</des>
			<value>moy_notice_content</value>
		</item>
        <item>
			<key>Course_Table</key>
			<des>课程表</des>
			<value>moy_course</value>
		</item>
        <item>
			<key>CourseNote_Table</key>
			<des>课程笔记表</des>
			<value>moy_course_note</value>
		</item>
        <item>
			<key>Subject_Table</key>
			<des>专题表</des>
			<value>moy_subject_user</value>
		</item>
        <item>
			<key>SubjectDetail_Table</key>
			<des>专题详情表</des>
			<value>moy_subject</value>
		</item>
        <item>
			<key>Comment_Table</key>
			<des>评论表</des>
			<value>moy_comment</value>
		</item>
        <item>
			<key>Photo_Table</key>
			<des>相册表</des>
			<value>moy_photo</value>
		</item>
        <item>
			<key>Activity_Table</key>
			<des>活动表</des>
			<value>moy_activity</value>
		</item>
        <item>
			<key>ActivityUser_Table</key>
			<des>活动用户表</des>
			<value>moy_activity_user</value>
		</item>
        <item>
			<key>Letter_Table</key>
			<des>信件表</des>
			<value>moy_letter_receive</value>
		</item>
        <item>
			<key>SendLetter_Table</key>
			<des>信件表</des>
			<value>moy_letter_send</value>
		</item>
        <item>
			<key>ClassUser_Table</key>
			<des>班级成员表</des>
			<value>moy_class_user_duty</value>
		</item>
        <item>
			<key>Init_Op</key>
			<des>初始化的接口方法</des>
			<value>getAccessToken</value>
		</item>
        <item>
			<key>Login_Op</key>
			<des>登录的接口方法</des>
			<value>doLogin</value>
		</item>
        <item>
			<key>Regist_Op</key>
			<des>注册手机的接口方法</des>
			<value>userRegisterNew</value>
		</item>
        <item>
			<key>RegestFinish_Op</key>
			<des>完成注册的接口方法</des>
			<value>doReg2013</value>
		</item>
        <item>
			<key>EventList_Op</key>
			<des>动态接口方法</des>
			<value>getClassEventList</value>
		</item>
        <item>
			<key>NoticeList_Op</key>
			<des>通告列表的接口方法</des>
			<value>getMyNotice</value>
		</item>
        <item>
			<key>NoticeContent_Op</key>
			<des>通告详情的接口方法</des>
			<value>getNoticeContentDetail</value>
		</item>
        <item>
			<key>DelNotice_Op</key>
			<des>删除通告的接口方法</des>
			<value>delnotice</value>
		</item>
        <item>
			<key>CourseList_Op</key>
			<des>课程列表接口方法</des>
			<value>getMyCourseList</value>
		</item>
        <item>
			<key>CourseNoteList_Op</key>
			<des>课程笔记接口方法</des>
			<value>getMyCourseNote</value>
		</item>
        <item>
			<key>EditCourseNote_Op</key>
			<des>修改课程笔记接口方法</des>
			<value>editMyCourseNote</value>
		</item>
        <item>
			<key>AddCourseNote_Op</key>
			<des>添加课程笔记接口方法</des>
			<value>addCourseNote</value>
		</item>
        <item>
			<key>SubjectList_Op</key>
			<des>专题列表</des>
			<value>getMySubjectList</value>
		</item>
        <item>
			<key>SubjectDetail_Op</key>
			<des>专题详情</des>
			<value>getSubjectContent</value>
		</item>
        <item>
			<key>Comment_Op</key>
			<des>评论列表</des>
			<value>getMyCommentList</value>
		</item>
        <item>
			<key>AddComment_Op</key>
			<des>添加评论列表</des>
			<value>addMyComment</value>
		</item>
        <item>
			<key>PhotoList_Op</key>
			<des>相册列表</des>
			<value>getAlbumList</value>
		</item>
        <item>
			<key>PhotoDetail_Op</key>
			<des>相册详情</des>
			<value>getAlbumPhotoList</value>
		</item>
        <item>
			<key>ActivityList_Op</key>
			<des>活动列表</des>
			<value>getMyActivityList</value>
		</item>
        <item>
			<key>ActivityDetail_Op</key>
			<des>活动详情</des>
			<value>getActivityContentMobile</value>
		</item>
        <item>
			<key>JoinActivity_Op</key>
			<des>加入活动</des>
			<value>joinActivity</value>
		</item>
        <item>
			<key>LetterList_Op</key>
			<des>信件列表</des>
			<value>getLetterListForMobile</value>
		</item>
        <item>
			<key>LetterDetail_Op</key>
			<des>信件详情</des>
			<value>getLetterListByDetail</value>
		</item>
        <item>
			<key>SendLetter_Op</key>
			<des>发送信件</des>
			<value>postLetterFn</value>
		</item>
        <item>
			<key>ClassUser_Op</key>
			<des>班级成员</des>
			<value>getDutyUserList</value>
		</item>
        <item>
			<key>EditMotto_Op</key>
			<des>编辑签名</des>
			<value>editUserMotto</value>
		</item>
        <item>
			<key>OrganizationList_Op</key>
			<des>组织列表</des>
			<value>getMyClassMobile</value>
		</item>
    </Op>
    <Color>
    </Color>
</root>